:root {
  --header-height: 5rem;
  --full-width: 100%;
}

body {
  /* background: transparent; */
  margin: 0;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.overall-container {
  color: #72a24d;
  transition: all 0.5s;
  flex-grow: 1;
}

.practice-header {
  height: var(--header-height);
  width: var(--full-width);
  display: flex;
  align-items: center;
  margin-left: 5%;
  transition: all 0.5s;
  border-block: 1px solid#a1a3a0;
  padding-left: 1rem;
  position: fixed;
  color: white;
  background-color: #72a24d;
}

.practice-header-open {
  height: var(--header-height);
  width: var(--full-width);
  display: flex;
  align-items: center;
  transition: all 0.5s;
  margin-left: 20%;
  padding-left: 1rem;
  border-block: 1px solid#a1a3a0;
  position: fixed;
  color: white;
  background-color: #72a24d;
}

.side-bar {
  display: flex;
  flex-direction: column;
  width: 5%;
  height: 100vh;
  position: fixed;
  top: 0;
  border: 1px solid#a1a3a0;
  transition: all 0.5s;
  background-color: #F9F9F9;
  overflow: auto;
}

::-webkit-scrollbar {
  display: none;
}

.side-bar-open {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100vh;
  position: fixed;
  top: 0;
  border: 1px solid#a1a3a0;
  transition: all 0.5s;
  background-color: #F9F9F9;
  overflow: auto;
}

.side-bar span,
.side-bar-open span {
  display: none;
  margin-left: 10px;
}

.side-bar button>i,
.side-bar-open button>i {
  display: flex;
  align-items: center;
  justify-content: center;
}

.side-bar-open span {
  display: inline;
}

.side-bar button:first-child,
.side-bar-open button:first-child {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  height: var(--header-height);
}

.side-bar-open button {
  height: 4rem;
  outline: none;
  border-radius: 0;
  display: flex;
  align-items: center;
  padding-left: 2rem;
  white-space: nowrap;
  width: 100%;
  /* justify-content: center; */
}

.side-bar button {
  height: 4rem;
  outline: none;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.active-button {
  height: 4rem;
  outline: none;
  border-radius: 0;
  display: flex;
  background-color: #adb8a5;
  color: white;
  align-items: center;
}

.side-bar button:hover,
.side-bar-open button:hover {
  outline: none;
  border-color: transparent;
  background-color: #c8cac6;
  transition: all 0.5s;
  color: white;
}

.side-bar button:focus,
.side-bar-open button:focus {
  outline: none;
  border-color: transparent;
}

.side-bar span {
  margin-left: 10px;
}

.content-container {
  margin-left: 5%;
  min-height: 100vh;
  transition: all 0.5s;
  padding-inline: 3rem;
  padding: calc(var(--header-height) + 20px) 3rem 1rem 3rem;
  padding-top: calc(var(--header-height) + 20px);
}

.content-container-open {
  margin-left: 20%;
  transition: all 0.5s;
  padding-inline: 3rem;
  min-height: 100vh;
  padding: calc(var(--header-height) + 20px) 3rem 1rem 3rem;
  padding-top: calc(var(--header-height) + 20px);
}